/* Jacob Reynolds 7/21/24 */
/* Final CSS Sheet */


/* Body Style */

body {
    background-color: #fdfdfd;
    background-image: linear-gradient(to bottom, #F5F5DC, #8B0000);
    background-repeat: no-repeat;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

/* Wrapper Style */

#wrapper { background-color: #FFFFFF;
           padding: 2em;
           margin-left: auto; margin-right: auto;
           width: 80%;
           min-width: 50%;
           max-width: 90%;
           box-shadow: 3px 3px #333333;}

 /* Header Style */ 

header { background-image: url(chess.png);
         background-color: rgba(41, 72, 93, 0.3);
         background-position: center;
         background-repeat: repeat-x;
         background-size: auto 100%;
         color: #006658;
         line-height: 100%;
         text-align: center;
         padding-top: 3%;
}

/* Navigation Style */

nav { background-color: #FFFFFF;
      font-weight: bold;
      text-align: center;
      padding: 1em; }


nav ul {list-style: none; 
        margin: 0; 
        padding: 0; 
        display: flex;
        justify-content: center;
      }
nav li { margin: 0 1em; /* Space between items */
      }
/* Main Style */

main { padding: 1px 3% 3%;
       display: block; }
 
/* Header Styles */

h1  { margin-bottom: 0;  
      margin-top: 6%;
      font-family: Georgia, "Times New Roman", serif;}
h2  { color: #082b1a; 
      font-family: Georgia, "Times New Roman", serif;
      text-shadow: 1px 1px #0c0b0b; }
h3 { color: #082b1a;
     font-family: Georgia, "Times New Roman", serif; }

/* List Styles */

ul { list-style-image: url(marker.gif);}
li { line-height: 1.5;}

/* Footer Style */

footer { font-size: 75%;
         font-style: italic;
         text-align: center;
         font-family: Georgia, "Times New Roman", serif; 
         padding: 2em;}

         .image {
            max-width: 100%; /* Limits the width of the image */
            height: auto; /* Maintains the aspect ratio of the image */
            width: 200px;
        }
             

form { display: grid;
       grid-template-rows: auto;
       grid-template-columns: 6em 1fr;
       gap: 1em;
       background-color: #EAEAEA;
       font-family: Arial, sans-serif;
       width: 60%; min-width: 20em;
       padding: 2em; }

/* Label elements in the first column */


form label {
    grid-column: 1;
    display: block;
 }
 
 /* Input and select elements in the second column */
 form input,
 form select {
    grid-column: 2;
    margin-bottom: 0.5em;
 }
 
 /* Attribute selector for submit button */
 [type="submit"] {
    grid-column: 2;
    width: 10em;
 }
 /* Attribute selector for reset button */
 [type="reset"] {
    grid-column: 2;
    width: 10em;
 }
 @media screen and (min-width: 640px){ .flex-container { display: flex;
 }    
}